.top-right-container
  position absolute
  top  0
  left 0
  height  50px
  right  0
  background-color #fff
.user-info{
  .user-info-menu{
    list-style: none;
    color: #282828;
.all-link(#282828);
.clearfix();
position: absolute;
top: 9px;
right: 5px;
& > li{
  float: left;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  & > a{
    //        .test-border;
    padding: 0 17px;
  }
  .help{
    border-right: 1px solid #eee;
  }
  .exit{
    border-left: 1px solid #eee;
  }
  .avatar{
    border-radius: 32px;
    margin-right: 8px;
    width: 35px;
  }
}
}
}